<a href="https://colab.research.google.com/github/ADiti16Sengar/ML-CHE/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
from google.colab import files
upload = files.upload()

Saving AirQualityUCI.xlsx to AirQualityUCI.xlsx

In [4]:
df = pd.read_excel('AirQualityUCI.xlsx')
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [5]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.9.2

In [6]:
df.isna().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [7]:
df.dtypes

Date             datetime64[ns]
Time                     object
CO(GT)                  float64
PT08.S1(CO)             float64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)           float64
NOx(GT)                 float64
PT08.S3(NOx)            float64
NO2(GT)                 float64
PT08.S4(NO2)            float64
PT08.S5(O3)             float64
T                       float64
RH                      float64
AH                      float64
dtype: object

In [8]:
train_dataset = df.sample(frac=0.8, random_state=0)
test_dataset = df.drop(train_dataset.index)

In [9]:
train_dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CO(GT),7486.0,-34.287617,77.709461,-200.0,0.600000,1.500000,2.600000,11.900000
PT08.S1(CO),7486.0,1046.133149,329.776504,-200.0,919.312500,1050.000000,1217.000000,2039.750000
NMHC(GT),7486.0,-158.690756,140.800954,-200.0,-200.000000,-200.000000,-200.000000,1189.000000
C6H6(GT),7486.0,1.717633,41.571093,-200.0,3.956504,7.838454,13.550494,52.054064
PT08.S2(NMHC),7486.0,891.833111,342.308541,-200.0,708.312500,892.500000,1101.937500,2006.750000
NOx(GT),7486.0,166.495632,256.082403,-200.0,49.000000,140.000000,282.000000,1479.000000
PT08.S3(NOx),7486.0,797.434723,324.819566,-200.0,639.250000,796.500000,961.500000,2682.750000
NO2(GT),7486.0,57.187390,127.138297,-200.0,53.000000,96.000000,132.000000,339.700000
PT08.S4(NO2),7486.0,1388.193906,467.731010,-200.0,1179.750000,1444.875000,1660.687500,2775.000000
PT08.S5(O3),7486.0,970.547990,456.646734,-200.0,696.750000,939.750000,1246.187500,2522.750000
T,7486.0,9.702114,43.417526,-200.0,10.950000,17.225000,24.125000,44.600000
RH,7486.0,39.209884,51.397632,-200.0,33.850000,48.212500,61.575000,88.725000
AH,7486.0,-6.924072,39.179677,-200.0,0.689160,0.976887,1.293184,2.231036

In [10]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('RH')
test_labels = test_features.pop('RH')

In [11]:
train_features=train_features.drop(['Time','Date'], axis=1)

In [12]:
train_features

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,AH
1121,1.3,916.50,101,5.171480,772.00,98.0,1097.75,78.0,1311.25,604.50,18.825000,0.682075
8028,0.6,918.00,-200,1.579374,551.25,114.2,1062.25,91.6,817.25,712.00,6.075000,0.412884
3803,0.4,765.75,-200,2.448274,616.00,43.0,1163.25,43.0,1306.00,529.75,21.500000,1.155817
4595,0.5,774.75,-200,2.346608,609.00,58.0,1318.50,42.0,1189.50,468.25,20.150000,1.089875
587,-200.0,1009.50,-200,2.967948,650.00,-200.0,1171.25,-200.0,1433.75,664.00,13.725000,1.039271
...,...,...,...,...,...,...,...,...,...,...,...,...
5122,-200.0,940.75,-200,3.559687,685.75,50.0,941.75,38.0,1405.75,548.50,22.775000,1.750711
4114,-200.0,904.00,-200,4.789679,752.75,-200.0,809.00,-200.0,1528.75,765.50,21.000000,1.645432
3813,0.8,825.25,-200,3.848126,702.25,53.0,1076.50,57.0,1267.25,458.00,38.400001,1.095729
7964,1.1,903.25,-200,3.733355,695.75,179.5,931.50,128.5,850.00,629.00,9.275000,0.387383
6344,1.2,1013.75,-200,4.481885,736.75,124.0,1509.00,75.0,1287.75,765.00,13.225000,1.277902

In [13]:
normalizer = tf.keras.layers.Normalization(axis=-1)

In [14]:
normalizer.adapt(train_features)

In [15]:
print(normalizer.mean.numpy())

[[ -34.28761   1046.1337    -158.6907       1.7176325  891.8333
   166.49565    797.43475     57.18742   1388.1943     970.54803
     9.702119    -6.924072 ]]

In [16]:
#Create a two-step Keras Sequential model again
# the first layer being normalizer (tf.keras.layers.Normalization(axis=-1))

linear_model = tf.keras.Sequential([
    normalizer,
    layers.Dense(units=1)
])